<section fxLayout="column" fxFlexAlign="stretch">
  <div fxFlexAlign="center" class="align-welcome">
    <p>László Kővári's page</p>
  </div>
  <div>
    <b>Currently I using <a href="https://angular.io/">Angular</a>, <i>v{{ angularVersion }}</i></b> with <a href="https://material.angular.io/">Angular Material</a> to build this site with <a href="https://www.typescriptlang.org/">TypeScript</a> v3.9.7, <a href="https://www.w3.org/Style/CSS/">CSS</a> and <a href="https://sass-lang.com/">SASS.</a>
  </div>
  <div>
    I'm a senior software developer with more than 30 years experience. You can know more about my technological knowledge on the following <a href="https://lkovari.github.io/KLHome">website</a>.
  </div>
</section>