<div class="balint-about-me-content">
    {{ pageOwner }} Received a <span class="bold-pub-item-subtitle">B.Sc.</span> degree in vehicle 
    engineering from Budapest University of Technology and Economics, Budapest, Hungary, in 2018, and an <span class="bold-pub-item-subtitle">M.Sc.</span> degree in Autonomous Vehicle Control Engineering in 2020.
    Since 2020, he has been a <span class="bold-pub-item-subtitle">PhD.</span> student at the Department of Control for Transportation and Vehicle Systems, Budapest University of Technology and Economics. His research interest includes artificial intelligence, machine learning, vehicle dynamics, and mechatronics.
</div>
