<div class="bkovari-publications-content">
    <ul>
        <li>2020
            <ul>
                <!-- https://www.mdpi.com/2076-3417/10/20/7171 -->
                <li class="li-separator">Published by MDPI Applied Sciences Journal Volume 10. Issue 20.<a
                        href="https://www.mdpi.com/2076-3417/10/20/7171">
                        Design of a Reinforcement Learning-Based Lane Keeping Planning Agent for Automated Vehicles
                    </a>
                </li>
                <li class="li-separator">Published by IEEE Access <a
                        href="https://ieeexplore.ieee.org/document/9163347">
                        Reinforcement Learning based Control Design for a Floating Piston Pneumatic Gearbox Actuator
                    </a>
                </li>
            </ul>
        </li>
        <li>2019
            <ul>
                <li class="li-separator">Published by KITT UNI ÓBUDA <a
                        href="http://kitt.uni-obuda.hu/mmaws/2019/pages/program/papers/Paper_17_Kovari_B_Becsi_T_Szalay_Zs_IFFK_2019.pdf">
                        Megerősítéses tanulás és MCTS alkalmazása trajektóriakövetésben
                    </a>
                </li>
            </ul>
        </li>
        <li>2018
            <ul>
                <li class="li-separator">Published by IEEE Explore <a
                        href="https://ieeexplore.ieee.org/abstract/document/9065122">
                        Policy Gradient Based Control of a Pneumatic Actuator Enhanced with Monte Carlo Tree Search
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>