<div class="bkovari-publications-content">
    <ul>
        <li>2023
            <ul>
                <!--https://www.mdpi.com/2071-1050/15/4/3479 -->
                <li class="li-separator">2023 Sustainability 15 (4), 3479
                    <a href="https://www.mdpi.com/2071-1050/15/4/3479">
                        Multi-Agent Reinforcement Learning for Traffic Signal Control: A Cooperative Approach
                    </a>
                </li>   
            </ul>
        </li>
        <li>2022
            <ul>
                <!--https://ieeexplore.ieee.org/abstract/document/10036253 -->
                <li class="li-separator">2022 IEEE 20th Jubilee International Symposium on Intelligent Systems
                    <a href="https://ieeexplore.ieee.org/abstract/document/10036253">
                        Designing Reward Functions in Multi-Agent Reinforcement Learning for Intelligent Intersection Control
                    </a>
                </li>                
                <!--https://ieeexplore.ieee.org/abstract/document/10036251 -->
                <li class="li-separator">2022 IEEE 20th Jubilee International Symposium on Intelligent Systems
                    <a href="https://ieeexplore.ieee.org/abstract/document/10036251">
                        Competitive Multi-Agent Reinforcement Learning for Traffic Signal Control
                    </a>
                </li>                
                <!--https://www.mdpi.com/2076-3417/12/9/4465 -->
                <li class="li-separator">2022 IEEE 20th Jubilee International Symposium on Intelligent Systems 
                    <a href="https://www.mdpi.com/2076-3417/12/9/4465">
                        Environment Representations of Railway Infrastructure for Reinforcement Learning-Based Traffic Control
                    </a>
                </li>                
                <!-- https://ieeexplore.ieee.org/abstract/document/9754511 -->
                <li class="li-separator">Published by IEEE Access 10, 39691-39699
                    <a href="https://ieeexplore.ieee.org/abstract/document/9754511">
                        Reward Design for Intelligent Intersection Control to Reduce Emission
                    </a>
                </li>
                <!-- https://www.mdpi.com/2076-3417/12/9/4465 -->
                <li class="li-separator">Published by Applied Sciences 12 (9), 4465
                    <a href="https://www.mdpi.com/2076-3417/12/9/4465">
                        Environment Representations of Railway Infrastructure for Reinforcement Learning-Based Traffic Control
                    </a>
                </li>
                <!-- https://www.sciencedirect.com/science/article/pii/S2352146522001624 -->
                <li class="li-separator">Published by Transportation Research Procedia 62, 278-285
                    <a href="https://www.sciencedirect.com/science/article/pii/S2352146522001624">
                        Deep Reinforcement Learning based approach for Traffic Signal Control
                    </a>
                </li>
            </ul>
        </li>           
        <li>2021
            <ul>
                <!-- https://www.mdpi.com/2071-1050/13/20/11254 -->
                <li class="li-separator">Published by MDPI Journals  Sustainability  Volume 13  Issue 20
                    <a href="https://www.mdpi.com/2071-1050/13/20/11254">
                        Traffic signal control via reinforcement learning for reducing global vehicle emission
                    </a>
                </li>
                <!-- https://www.mdpi.com/2076-3417/10/20/7171 -->
                <li class="li-separator">Published by Periodica Polytechnica Transportation Engineering, 49(3), pp. 283–291, 2021
                    <a href="https://pp.bme.hu/tr/article/view/18584">
                        MCTS Based Approach for Solving Real-time Railway Rescheduling Problem
                    </a>
                </li>
            </ul>
        </li>        
        <li>2020
            <ul>
                <!-- https://www.mdpi.com/2076-3417/10/20/7171 -->
                <li class="li-separator">Published by MDPI Applied Sciences Journal Volume 10. Issue 20.
                    <a href="https://www.mdpi.com/2076-3417/10/20/7171">
                        Design of a Reinforcement Learning-Based Lane Keeping Planning Agent for Automated Vehicles
                    </a>
                </li>
                <li class="li-separator">Published by IEEE Access
                    <a href="https://ieeexplore.ieee.org/document/9163347">
                        Reinforcement Learning based Control Design for a Floating Piston Pneumatic Gearbox Actuator
                    </a>
                </li>
            </ul>
        </li>
        <li>2019
            <ul>
                <li class="li-separator">Published by KITT UNI ÓBUDA
                    <a href="http://kitt.uni-obuda.hu/mmaws/2019/pages/program/papers/Paper_17_Kovari_B_Becsi_T_Szalay_Zs_IFFK_2019.pdf">
                        Megerősítéses tanulás és MCTS alkalmazása trajektóriakövetésben
                    </a>
                </li>
            </ul>
        </li>
        <li>2018
            <ul>
                <li class="li-separator">Published by IEEE Explore
                    <a href="https://ieeexplore.ieee.org/abstract/document/9065122">
                        Policy Gradient Based Control of a Pneumatic Actuator Enhanced with Monte Carlo Tree Search
                    </a>
                </li>
            </ul>
        </li>
        <li class="text-success">All on Google Scholar
            <a href="https://scholar.google.com/citations?hl=en&user=WrtttXEAAAAJ"><img class="img-responsive" src="https://scholar.google.com/citations/images/avatar_scholar_128.png"></a>
        </li>        
    </ul>
</div>