.bkovari-home-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;

    color: #3f51b5;
    font-size: 1.2rem;
    text-shadow: 1px 3px 5px grey;
    margin: 2rem 0;
}