<section fxLayout="column" fxFlexAlign="stretch">
  <div class="bkovari-page">
    <div fxFlexAlign="center" class="align-welcome">
      <p>Bálint Kővári's page</p>
      <div>
        <div class="pub-item-subtitle">
          My graduation is Vehicle Engineer BSC.(HU) Autonomous Vehicle Control Engineer MSC(EN) Budapest University of Technology and
          Economics, My specialization is apply reinforcement learning in vehicle dynamics.
        </div>
        <label class="pub-item-title">PhD Student on the Budapest University of Technology and Economics.</label>
        <div class="section-bottom">
          <img class="img-responsive" [src]="kbDoorCard">
        </div>        
        <label class="pub-item-title">Autonomous Vehicle Control Engineer MSC(EN) on the Budapest University of Technology and Economics.</label>
        <label class="pub-item-title-normal">Qualification: Excellent with highest honours</label>
        <div class="section-bottom">
          <img class="img-responsive" [src]="kbDiploma">
        </div>        
        <label class="pub-item-title">Publications</label>
        <div class="list-alignment">
          <ul>
            <li>2020
              <ul>
                <li class="li-separator">Published by IEEE Access <a
                    href="https://ieeexplore.ieee.org/document/9163347">
                    Reinforcement Learning based Control Design for a Floating Piston Pneumatic Gearbox Actuator
                  </a>
                </li>
              </ul>
            </li>
            <li>2019
              <ul>
                <li class="li-separator">Published by KITT UNI ÓBUDA <a
                    href="http://kitt.uni-obuda.hu/mmaws/2019/pages/program/papers/Paper_17_Kovari_B_Becsi_T_Szalay_Zs_IFFK_2019.pdf">
                    Megerősítéses tanulás és MCTS alkalmazása trajektóriakövetésben
                  </a>
                </li>
                <li class="li-separator">Published by BME.<a
                  href="http://tdk.bme.hu/KSK/KI/Megerositeses-tanulas-es-MCTS-integralasa">
                  Megerősítéses tanulás és MCTS integrálása trajektória követés esetére
                </a> - TDK. 1st. place Rector's special award
              </li>

              </ul>
            </li>
            <li>2018
              <ul>
                <li class="li-separator">Published by IEEE Explore <a
                    href="https://ieeexplore.ieee.org/abstract/document/9065122">
                    Policy Gradient Based Control of a Pneumatic Actuator Enhanced with Monte Carlo Tree Search
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>