<div class="bkovari-main-content">
  <mat-toolbar color="primary" class="bkovari-toolbar">
    <div *ngIf="showMenuIcon">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <h1 class="bkovari-app-name">{{ pageOwner }}'s page</h1>
  </mat-toolbar>
  <div>
  <mat-sidenav-container class="bkovari-container" autosize>
    <mat-sidenav #sidenav class="bkovari-sidenav" mode="side" opened="false" (mouseenter)="mouseenter()"
      (mouseleave)="mouseleave()">
      <mat-nav-list>
        <a mat-list-item [routerLink]="'/bkovari-main/bkovari-home'" (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>home</mat-icon>Home
        </a>
        <a mat-list-item [routerLink]="'/bkovari-main/bkovari-about-me'" (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>person</mat-icon>About Me
        </a>
        <a mat-list-item [routerLink]="'/bkovari-main/bkovari-publications'" (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>book</mat-icon>Publications
        </a>
        <a mat-list-item [routerLink]="'/bkovari-main/bkovari-tdk'" (click)="sidenav.toggle()">
          <mat-icon mat-list-icon>description</mat-icon>TDK.
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <div class="bkovari-sidenav-content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-container>
  </div>
</div>