.bkovari-page {
    .img-responsive {
        width: 40%;
        height: 30%;
        float: center;
        border-radius: 2%;
    }    
    .align-welcome {
        text-align: center;
    }
    .pub-item-title {
        font-weight: bold;
        margin-bottom: 2rem;
    }
    .section-bottom {
        margin-bottom: 2rem;
    }    
    .pub-item-subtitle {
        color: #3f51b5;
        font-size: 1rem;
        text-shadow: 1px 3px 5px grey;
        margin: 2rem 0;
    }
    .list-alignment {
        margin-left: 3rem;
        margin-right: 3rem;
        text-align: left;
        .li-separator {
            margin-bottom: 1rem;
        }
    }
}
section div p{
    color: #3f51b5;
    font-size: 30px;
    text-shadow: 2px 3px 5px grey;
    margin: 30px 0;
}

section div + p{
    color: #3f51b5;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
}

mat-tab-group {
    text-align: center;
}

mat-tab-group p {
    padding-top: 20px;
}

.align-welcome {
    text-align: center;
}