<div class="akos-certificates-content">
    <!--div>
        <img class="img-responsive" [src]="kankh">
    </div-->
    <div>
        <div class="text-uppercase top-gap">
            05/10/2023 Released First Officer at WizzAir.
        </div>           
        <div class="text-uppercase top-gap">
            05/09/2023 Line training PASSED.
        </div>           
        <div class="text-uppercase top-gap">
            01/24/2023 Landing Training PASSED.
        </div>           
        <div class="text-uppercase top-gap">
            12/24/2022 AirBus A321 Simulator Training PASSED.
        </div>           
        <div class="text-uppercase top-gap">
            09/23/2020 CPL. EXAM Single & Multi Engine (max 5.7t 8 P.) PASSED.
        </div>        
        <div class="text-uppercase top-gap">
            09/12/2020 ICAO Language Exam <a href="assets/KovariAkosICAOLanguageExamCert.pdf" target="_blank" rel="noopener noreferrer">CERTIFICATE.</a>
        </div>
        <div class="text-uppercase top-gap">
            07/13/2020 ATPL(A) <a href="assets/KovariAkos_ATPLCERT.pdf" target="_blank" rel="noopener noreferrer">CERTIFICATE.</a>
        </div>        
        <div title="Civil Aviation Athority" class="text-uppercase top-gap">
            PILOT ACADEMY CAA. EXAMS
        </div>
        <div>
            <table style="width:100%; table-layout:fixed; overflow-x: auto;">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Ocurrence</th>
                        <th>Percent</th>
                        <th>Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let exam of ntaExams; let ix = index">
                        <td title="{{exam.date | date :'MM/dd/YYYY'}}">{{exam.date | date : 'MM/dd/YYYY' }}</td>
                        <td>{{exam.code}}</td>
                        <td class="fit-to-cell" title="{{exam.name}}">{{exam.name}}</td>
                        <td>{{exam.occurrence}}.</td>
                        <td>{{exam.percent}}</td>
                        <td>{{exam.result}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td class="text-primary">Average</td>
                        <td></td>
                        <td class="text-primary">{{ averagePercent | percent : '2.2' }}</td>
                        <td></td>
                    </tr>
                </tbody>
              </table>         
        </div>
        <div class="text-uppercase top-gap">
            FAI. Glider Pilot Silver Badge
        </div>
        <div>
            <img class="img-responsive" [src]="kaSilverWreathImagePath">
        </div>
    </div>
    <div>
        <div>
            Duration of the gliding flight at July. 10. 2016. is 5:28 Distance 403.3 km
        </div>
        <div>
            <img class="img-responsive" [src]="kaJuly102016Igctracklog">
        </div>
    </div>
</div>