.akos-certificates-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 13.9rem);
    text-align: center;
    align-items: center;
    justify-content: space-between;

    color: #3f51b5;
    font-size: 1.4rem;
    text-shadow: 1px 3px 5px grey;

    .fit-to-cell {
        word-wrap: break-word;
    }
    .img-responsive {
        width: 75%;
        height: auto;
        float: center;
        border: 1px solid blue;
        border-radius: 2%;
    }
    table, td, th {
        border: 1px solid #3F51B5;
    }
    .top-gap {
        margin-top: 1rem;;
    }
    @media screen and (max-width: 992px) {
        font-size: 1.0rem;
    }
    
    @media screen and (max-width: 600px) {
        font-size: 0.6rem;
    }     
}