.akos-about-me-content {
    display: flex;
    text-align: center;

    color: #3f51b5;
    font-size: 1.5rem;
    text-shadow: 1px 3px 5px grey;
    margin: 1rem;
    
    .bold-pub-item-subtitle {
        font-weight: bold;
    }
    .img-responsive {
        width: 100%;
        height: auto;
        float: center;
        border-radius: 2%;
    }

    @media screen and (max-width: 992px) {
        font-size: 1.25rem;
    }
     
    @media screen and (max-width: 600px) {
        font-size: 1rem;
    }         
}