<section fxLayout="column" fxFlexAlign="stretch">
  <div class="akos-page">
    <div fxFlexAlign="center" class="align-welcome">
      <p>Ákos Kővári's page</p>
      <div>
        <div class="pub-item-subtitle">
          My graduation is Aircraft Engineer BSC.(HU) Budapest University of Technology and Economics, Aeronautical departmentand, I'm a Glider Pilot.
        </div>
        <label class="pub-item-title">Graduates and Certificates</label>
        <div>
          <img class="img-responsive" [src]="kaDiploma">
        </div>
        <div>
          <img class="img-responsive" [src]="kaSilverWreathImagePath">
        </div>
        <div class="pub-item-subtitle">
          <label class="pub-item-title">First flying in a "new" glider plane - 2017.07.19.</label>
          <video class="img-responsive" controls (click)="playVideo($event)" #videoPlayer>
              <source src="{{ videoSource }}" type="video/mp4" />
              Browser not supported
          </video>
      </div>
      </div>
    </div>
  </div>
</section>