.akovari-main-content {
    flex: 1 1 auto;
    .akovari-container {
        height: calc(100vh - 10rem);
        border: 1px solid rgba(0, 0, 0, 0.5);
    }

    .akovari-sidenav-content {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .akovari-sidenav {
        user-select: none;
    }

    .akovari-toolbar {
        flex: 1 1 auto;
        a {
            text-decoration: none;
            color: white;
        }
        
        a:hover, a:active{
            color: lightgray;
        }
        
        .navigation-items{
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        
        mat-toolbar{
            border-radius: 3px;
        }
        
        .home-url {
            padding-right: 0.5rem;
        }
    }

    .full-width {
        width: 100%;
    }

    .menu-button {
        transition: 300ms ease-in-out;
        transform: rotate(0deg);
    }

    .menu-button.rotated {
        transform: rotate(180deg);
    }

    .submenu {
        overflow-y: hidden;
        transition: transform 300ms ease;
        transform: scaleY(0);
        transform-origin: top;
        padding-left: 30px;
    }

    .submenu.expanded {
        transform: scaleY(1);
    }

    .mat-toolbar.mat-primary {
        background: #7583cd;
    }

    .layout-wrapper {
        height: 100%;
    }

    .flex-wrapper {
        height: 100%;
    }

    @media(max-width: 959px){
        mat-toolbar{
            border-radius: 0px;
        }
    }
}